<h1><%= @album.title %></h1>

<section>

<table>
    <thead>
        <tr>
            <th colspan="2">Album Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Band</td>
            <td><%= @album.band.name %></td>
        </tr>
        <tr>
            <td>Year</td>
            <td><%= @album.year %></td>
        </tr>
        <tr>
            <td>Recording Type</td>
            <td><%= @album.live ? "Live" : "Studio" %></td>
        </tr>
    </tbody>
</table>

   <a href="<%= edit_album_url(@album) %>">Edit Album</a>
   <a href="<%= band_url(@album.band_id) %>">View Band</a>

   <form action="<%= album_url(@album) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Delete Album">
   </form>
</section>