<h1><%= @sub.title %></h1>

<b>Description</b>
<p><%= @sub.description %></p>

<a href="<%= new_post_url %>">Make New Post!</a>

<ul>
    <% @sub.posts.each do |post| %>
        <li>(<%= post.id %>) <a href="<%= post_url(post) %>"><%= post.title %></a></li>
    <% end %>
</ul>

<% if logged_in? && current_user.id == @sub.id %>
    <a href="<%= edit_sub_url(@sub) %>">Edit</a>
<% end %>