<% if type == :edit %>
  <% action_url = cat_url(cat)%>
<%else%>
    <% action_url = cats_url%>
<% end %>


<form action="<%= action_url %>" method="post">
    <%if type == :edit %>
        <input type="hidden" name="_method" value="patch">
    <%end%>

    <label>Name:
        <input type="text" name="cat[name]" value="<%= cat.name %>">
    </label>
    <br><br>

    <label>Sex
        <input type="radio" id="male" name="cat[sex]" value="M" <%= cat.sex == "M" ? "checked" : ""%>>
        <label for="male">M</label>
        <input type="radio" id="female" name="cat[sex]" value="F" <%= cat.sex == "F" ? "checked" : ""%>>
        <label for="female">F</label>
    </label>
    <br><br>

    <label>Color
        <select name="cat[color]">
            <option default <%= cat.color ? "" : "selected" %>>-- select a color --</option>
            <% Cat::COLORS.each do |color| %>
            <option value="<%= color %>" <%= cat.color == color ? "selected" : "" %>><%= color %></option>
            <% end %>
        </select>
    </label>
    <br><br>

    <label>BirthDate</label>
        <input type="date" name="cat[birth_date]" value="<%= cat.birth_date.to_s %>">
    <br><br>
    
    <label>Description
        <textarea name="cat[description]"><%= cat.description %></textarea>
    </label>

    <input type="submit" value="Update cat">
</form>