<h1><%= @post.title %> by <%= @post.author.username %></h1>

<b>Content</b>
<p><%= @post.content %></p>

<b>Subs</b>
<ul>
    <% @post.subs.each do |sub| %>
        <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
    <% end %>
</ul>

<h3>Comments</h3>
<a href=<%= new_post_comment_url(@post) %>>Comment on this post!</a>

<ul>
    <% @post.comments.where(parent_comment_id: nil).each do |comment| %>
        <li>(<%= comment.id %>) <a href="<%= comment_url(comment) %>"><%= comment.content %></a></li>
        
        <%= render 'comment', comment: comment %>
        
    <% end %>
</ul>

<% if logged_in? && current_user.id == @post.author_id %>
    <a href="<%= edit_post_url(@post) %>">Edit Post</a>
<% end %>